# 進階的 SQL 五十道練習

> 快速複習重要的 SQL 與資料庫觀念

[數聚點](https://www.datainpoint.com) | 郭耀仁 <yaojenkuo@datainpoint.com>

In [1]:
%LOAD mysql db=imdb user=root password=1qaz2wsx

## SQL 重要觀念複習

## 什麼是 SQL

- SQL 是 Structured Query Language 的縮寫，是一個專門針對關聯式資料庫中所儲存的資料互動（包含查詢、定義、操作與控制）的語言。
- SQL 在 1970 年代由國際商業機器公司（IBM）創造，剛開發出來時候僅只是為了更有效率地「查詢」儲存於關聯式資料庫中的資料，但是到了現代，除了查詢以外像是資料的建立、更新與刪除，也都能靠著 SQL 來完成。

## SQL 的組成

- SQL 是由保留字（Keyword）、物件名稱、函數、符號與常數所組合而成的一種語言。
- 以下列這段 SQL 為例：
    - 保留字：`SELECT`, `AS`, `FROM`, `WHERE`, `LIMIT`
    - 物件名稱：runtime, movies
    - 函數：`CEILING()`
    - 符號：`/`, `%`, `>`
    - 常數：60, 120, 5

In [2]:
SELECT runtime,
       CEILING(runtime / 60) AS hours,
       runtime % 60 AS minutes
  FROM movies
 WHERE runtime > 120
 LIMIT 5;

+---------+-------+---------+
| runtime | hours | minutes |
+---------+-------+---------+
| 142     | 3     | 22      |
+---------+-------+---------+
| 175     | 3     | 55      |
+---------+-------+---------+
| 152     | 3     | 32      |
+---------+-------+---------+
| 202     | 4     | 22      |
+---------+-------+---------+
| 195     | 4     | 15      |
+---------+-------+---------+
5 rows in set (0.01 sec)

## SQL 的分類

依照使用目的進而區別 SQL 的分類：

|SQL 的分類|範例|
|:---------|:----|
|資料查詢語言（Data Query Language, DQL）|`SELECT ...`|
|資料定義語言（Data Definition Language, DDL）|`CREATE ...`|
|資料操作語言（Data Manipulation Language, DML）|`UPDATE ...`|
|資料控制語言（Data Control Language, DCL）|`GRANT ...`|
|交易控制語言（Transaction Control Language, TCL）|`COMMIT ...`|

## SQL 的分類（續）

- 在初階課程「SQL 的五十道練習」中我們專注在資料查詢語言的部分；這堂進階課程會完整帶學員們認識其他的 SQL 語言。
- 實務上，資料查詢語言是被分類在資料操作語言之下的一個分支。
    - 資料定義語言（Data Definition Language, DDL）
    - 資料操作語言（Data Manipulation Language, DML）
        - 資料查詢語言（Data Query Language, DQL）
    - 資料控制語言（Data Control Language, DCL）
    - 交易控制語言（Transaction Control Language, TCL）

## 重要的資料庫觀念

## 什麼是資料庫

資料庫是一種特定、經過加工的資料集合，能夠放置在伺服器、個人電腦、手機或者微型電腦（例如：樹莓派）之中。

## 什麼是關聯式

- 關聯式為描述資料庫中的資料集合是以列（Rows）與欄（Columns）所組成的二維表格形式記錄，並且遵守關聯式模型準則設計，這樣的資料庫就被稱為關聯式資料庫。
- 有時列也有其他別名，像是紀錄（Records）、觀測值（Observations）、元組（Tuples）等；欄的其他別名則有欄位（Fields）、變數（Variables）、屬性（Attributes）等。

## 什麼是關聯式（續）

關聯式模型體現在兩個層面：

1. 觀測值與欄位所記錄的資料是相關且連動的。
2. 資料表之間能以連接鍵（Join key）與主鍵（Primary key）相連接。

## 觀測值與欄位所記錄的資料是相關且連動的

透過排序（`ORDER BY`）可以觀察到資料是相關且連動的。

In [3]:
SELECT title,
       runtime
  FROM movies
 ORDER BY runtime
 LIMIT 5;

+---------------+---------+
| title         | runtime |
+---------------+---------+
| Sherlock Jr   | 45      |
+---------------+---------+
| The Kid       | 68      |
+---------------+---------+
| The General   | 78      |
+---------------+---------+
| Before Sunset | 80      |
+---------------+---------+
| Toy Story     | 81      |
+---------------+---------+
5 rows in set (0.00 sec)

## 資料表之間能以連接鍵（Join key）與主鍵（Primary key）相連接

- `movies_writers` 與 `movies` 相連接。
- `movies_writers.movie_id` 作為連接鍵；`movies.id` 作為主鍵。

In [4]:
SELECT movies.title,
       movies_writers.writer_id
  FROM movies_writers
  JOIN movies
    ON movies_writers.movie_id = movies.id
 WHERE movies.id <= 5;

+--------------------------+-----------+
| title                    | writer_id |
+--------------------------+-----------+
| The Shawshank Redemption | 172       |
+--------------------------+-----------+
| The Shawshank Redemption | 514       |
+--------------------------+-----------+
| The Godfather            | 165       |
+--------------------------+-----------+
| The Godfather            | 368       |
+--------------------------+-----------+
| The Godfather            | 368       |
+--------------------------+-----------+
| The Dark Knight          | 52        |
+--------------------------+-----------+
| The Dark Knight          | 88        |
+--------------------------+-----------+
| The Dark Knight          | 88        |
+--------------------------+-----------+
| The Dark Knight          | 121       |
+--------------------------+-----------+
| The Dark Knight          | 298       |
+--------------------------+-----------+
| The Godfather Part II    | 165       |
+--------------------------+-----------+
| The Godfather Part II    | 368       |
+--------------------------+-----------+
| The Godfather Part II    | 368       |
+--------------------------+-----------+
| 12 Angry Men             | 460       |
+--------------------------+-----------+
| 12 Angry Men             | 460       |
+--------------------------+-----------+
15 rows in set (0.00 sec)

## 能夠被稱為是資料庫的資料集合必須要同時具備兩個特徵

1. 觀測值必須具備屬性。
2. 資料集合必須具備元資料（Metadata）。

## 觀測值必須具備屬性

In [5]:
SELECT *
  FROM movies
 LIMIT 1;

+----+--------------------------+--------------+---------+--------+------------------------------------------------------------+
| id | title                    | release_year | runtime | rating | link                                                       |
+----+--------------------------+--------------+---------+--------+------------------------------------------------------------+
| 1  | The Shawshank Redemption | 1994         | 142     | 9.3    | https://www.imdb.com/title/title/tt0111161/?ref_=chttp_t_1 |
+----+--------------------------+--------------+---------+--------+------------------------------------------------------------+
1 row in set (0.00 sec)

## 資料集合必須具備元資料（Metadata）

- 元資料是用來解釋資料表內容的資料。
- 元資料之於資料，就像是英英字典之於英文單字一般。

In [6]:
SELECT *
  FROM INFORMATION_SCHEMA.columns
 WHERE TABLE_NAME = 'movies' AND
       TABLE_SCHEMA = 'imdb';

+---------------+--------------+------------+--------------+------------------+----------------+-------------+-----------+--------------------------+------------------------+-------------------+---------------+--------------------+--------------------+--------------------+--------------+------------+-------+---------------------------------+----------------+-----------------------+--------+
| TABLE_CATALOG | TABLE_SCHEMA | TABLE_NAME | COLUMN_NAME  | ORDINAL_POSITION | COLUMN_DEFAULT | IS_NULLABLE | DATA_TYPE | CHARACTER_MAXIMUM_LENGTH | CHARACTER_OCTET_LENGTH | NUMERIC_PRECISION | NUMERIC_SCALE | DATETIME_PRECISION | CHARACTER_SET_NAME | COLLATION_NAME     | COLUMN_TYPE  | COLUMN_KEY | EXTRA | PRIVILEGES                      | COLUMN_COMMENT | GENERATION_EXPRESSION | SRS_ID |
+---------------+--------------+------------+--------------+------------------+----------------+-------------+-----------+--------------------------+------------------------+-------------------+---------------+--------------------+--------------------+--------------------+--------------+------------+-------+---------------------------------+----------------+-----------------------+--------+
| def           | imdb         | movies     | id           | 1                | NULL           | NO          | int       | NULL                     | NULL                   | 10                | 0             | NULL               | NULL               | NULL               | int          | PRI        |       | select,insert,update,references |                |                       | NULL   |
+---------------+--------------+------------+--------------+------------------+----------------+-------------+-----------+--------------------------+------------------------+-------------------+---------------+--------------------+--------------------+--------------------+--------------+------------+-------+---------------------------------+----------------+-----------------------+--------+
| def           | imdb         | movies     | link         | 6                | NULL           | YES         | varchar   | 255                      | 1020                   | NULL              | NULL          | NULL               | utf8mb4            | utf8mb4_unicode_ci | varchar(255) |            |       | select,insert,update,references |                |                       | NULL   |
+---------------+--------------+------------+--------------+------------------+----------------+-------------+-----------+--------------------------+------------------------+-------------------+---------------+--------------------+--------------------+--------------------+--------------+------------+-------+---------------------------------+----------------+-----------------------+--------+
| def           | imdb         | movies     | rating       | 5                | NULL           | YES         | double    | NULL                     | NULL                   | 22                | NULL          | NULL               | NULL               | NULL               | double       |            |       | select,insert,update,references |                |                       | NULL   |
+---------------+--------------+------------+--------------+------------------+----------------+-------------+-----------+--------------------------+------------------------+-------------------+---------------+--------------------+--------------------+--------------------+--------------+------------+-------+---------------------------------+----------------+-----------------------+--------+
| def           | imdb         | movies     | release_year | 3                | NULL           | YES         | int       | NULL                     | NULL                   | 10                | 0             | NULL               | NULL               | NULL               | int          |            |       | select,insert,update,references |                |                       | NULL   |
+---------------+--------------+------------+--------------+------------------+----------------+-------------+-----------+--------------------------+------------------------+-------------------+---------------+--------------------+--------------------+--------------------+--------------+------------+-------+---------------------------------+----------------+-----------------------+--------+
| def           | imdb         | movies     | runtime      | 4                | NULL           | YES         | int       | NULL                     | NULL                   | 10                | 0             | NULL               | NULL               | NULL               | int          |            |       | select,insert,update,references |                |                       | NULL   |
+---------------+--------------+------------+--------------+------------------+----------------+-------------+-----------+--------------------------+------------------------+-------------------+---------------+--------------------+--------------------+--------------------+--------------+------------+-------+---------------------------------+----------------+-----------------------+--------+
| def           | imdb         | movies     | title        | 2                | NULL           | YES         | varchar   | 255                      | 1020                   | NULL              | NULL          | NULL               | utf8mb4            | utf8mb4_unicode_ci | varchar(255) |            |       | select,insert,update,references |                |                       | NULL   |
+---------------+--------------+------------+--------------+------------------+----------------+-------------+-----------+--------------------------+------------------------+-------------------+---------------+--------------------+--------------------+--------------------+--------------+------------+-------+---------------------------------+----------------+-----------------------+--------+
6 rows in set (0.01 sec)

## 什麼是關聯式資料庫管理系統

- 管理關聯式資料庫的電腦軟體稱為關聯式資料庫管理系統（Relational Database Management System, RDBMS）。
- 透過關聯式資料庫管理系統，可以讓關聯式資料庫具有多人共用、處理大量資料、自動化讀寫與備份等功能。

## 常見的關聯式資料庫管理系統大致可以分為商業授權與開放原始碼兩個大類

- 商業授權
    - DB2：國際商業機器公司的關聯式資料庫管理系統。
    - SQL Server：微軟公司的關聯式資料庫管理系統。
    - Oracle Database：甲骨文公司的關聯式資料庫管理系統。
- 開放原始碼
    - MySQL：開放原始碼的關聯式資料庫管理系統，現為甲骨文公司所有。
    - MariaDB：開放原始碼的關聯式資料庫管理系統，是 MySQL 的分支。
    - SQLite：開放原始碼的關聯式資料庫管理系統。

## SQL、關聯式資料庫與關聯式資料庫管理系統三者的關係

|SQL|關聯式資料庫|關聯式資料庫管理系統|
|:--|:---------|:----------------|
|駕駛車的技術、執照|車|道路、車庫、交通號誌、路線管理|
|駕駛船的技術、執照|船|水域、船塢、港口、航線管理|
|駕駛飛機的技術、執照|飛機|空域、機場、停機坪、跑道、塔台、航線管理|

## 重點統整

- SQL 是 Structured Query Language 的縮寫，是一個專門針對關聯式資料庫中所儲存的資料互動（包含查詢、定義、操作與控制）的語言。
- SQL 是由保留字（Keyword）、物件名稱、函數、符號與常數所組合而成的一種語言。

## 重點統整（續）

- SQL 的分類：
    - 資料定義語言（Data Definition Language, DDL）
    - 資料操作語言（Data Manipulation Language, DML）
        - 資料查詢語言（Data Query Language, DQL）
    - 資料控制語言（Data Control Language, DCL）
    - 交易控制語言（Transaction Control Language, TCL）

## 重點統整（續）

- 關聯式模型體現在兩個層面：
    - 觀測值與欄位所記錄的資料是相關且連動的。
    - 資料表之間能以連接鍵（Join key）與主鍵（Primary key）相連接。
- 能夠被稱為是資料庫的資料集合必須要同時具備兩個特徵：
    - 觀測值必須具備屬性。
    - 資料集合必須具備元資料（Metadata）。

## 重點統整（續）

- SQL、關聯式資料庫與關聯式資料庫管理系統三者的關係：

|SQL|關聯式資料庫|關聯式資料庫管理系統|
|:--|:---------|:----------------|
|駕駛車的技術、執照|車|道路、車庫、交通號誌、路線管理|
|駕駛船的技術、執照|船|水域、船塢、港口、航線管理|
|駕駛飛機的技術、執照|飛機|空域、機場、停機坪、跑道、塔台、航線管理|