# 進階的 SQL 五十道練習

> 快速複習基礎的 SQL 查詢敘述

[數聚點](https://www.datainpoint.com) | 郭耀仁 <yaojenkuo@datainpoint.com>

## 練習題指引

- 仔細閱讀題目敘述以及預期結果。
- 在自己電腦的 DBeaver 寫出跟預期結果相同的 SQL
- 下載練習題與批改測試檔案並放置在同一個目錄（資料夾）之中。
    - 練習題檔案：[ch03exercises.py](https://classroom-hahow-sqlfiftyplus.s3.ap-northeast-1.amazonaws.com/exercise-scripts/ch03exercises.py) 
    - 批改測試檔案：[ch03-test-basic-query.py](https://classroom-hahow-sqlfiftyplus.s3.ap-northeast-1.amazonaws.com/test_scripts/ch03-test-basic-query.py)
- 使用 [Visual Studio Code](https://code.visualstudio.com/download)（推薦）或任意純文字編輯器開啟練習題檔案。
- 將寫好的 SQL 貼在練習題對應變數名稱後的 `"""` 與 `"""` 之間。
- 請使用 `SELECT ... FROM database.table` 的語法來標註資料庫與資料表，不要使用 `USE databse; SELECT ... FROM table` 的語法。
- 執行測試：
    - 開啟 Anaconda Prompt（Windows 作業系統）或 Terminal（macOS）
    - 啟動專案環境 `conda activate pythonmysql`
    - 透過 `cd` 指令移動到放置練習題與批改測試檔案的目錄（資料夾）。
    - 執行 `python ch03-test-basic-query.py root {roots_password}`
- 終端機操作的技巧：
    - 在終端機畫面中按「向上箭頭」可以叫出先前執行過的指令。
    - Windows 作業系統可以使用 `cls` 指令清空 Anaconda Prompt 畫面；macOS 可以使用 `clear` 指令或 `Ctrl - L` 清空 Terminal 畫面。

## 0301（程式題）查詢 `imdb` 資料庫 `movies` 資料表中第八至第十列的觀測值。

```
   id                                              title  release_year  \
0   8                                       Pulp Fiction          1994   
1   9  The Lord of the Rings: The Fellowship of the Ring          2001   
2  10                     The Good, the Bad and the Ugly          1966   

   runtime  rating                                    link  
0      154     8.9  https://www.imdb.com//title/tt0110912/  
1      178     8.8  https://www.imdb.com//title/tt0120737/  
2      178     8.8  https://www.imdb.com//title/tt0060196/  
```

In [ ]:
answer_0301 =\
"""

"""

## 0302（程式題）查詢 `covid19` 資料庫 `locations` 資料表中第十三列至第十六列的觀測值。

```
   id country_name       province_name iso2 iso3  latitude  longitude  \
0  13    Australia  Northern Territory   AU  AUS  -12.4634    130.846   
1  14    Australia          Queensland   AU  AUS  -27.4698    153.025   
2  15    Australia     South Australia   AU  AUS  -34.9285    138.601   
3  16    Australia            Tasmania   AU  AUS  -42.8821    147.327   

   population  
0      245600  
1     5115500  
2     1756500  
3      535500
```

In [ ]:
answer_0302 =\
"""

"""

## 0303（程式題）查詢 `imdb` 資料庫 `movies` 資料表中於 1994 年上映的電影。

```
   id                     title  release_year  rating
0   1  The Shawshank Redemption          1994     9.3
1   8              Pulp Fiction          1994     8.9
2  11              Forrest Gump          1994     8.8
3  38             The Lion King          1994     8.5
4  39    Léon: The Professional          1994     8.5
```

In [ ]:
answer_0303 =\
"""

"""

## 0304（程式題）查詢 `covid19` 資料庫 `locations` 資料表中台灣的資料。

```
    id country_name iso2 iso3  population
0  822       Taiwan   TW  TWN    23816775
```

In [ ]:
answer_0304 =\
"""

"""

## 0305（程式題）查詢 `covid19` 資料庫 `calendars` 資料表中最小的日期與最大的日期。

```
     min_date    max_date
0  2020-01-01  2023-12-31
```

In [ ]:
answer_0305 =\
"""

"""

## 0306（程式題）查詢 `imdb` 資料庫 `movies` 資料表中最短的片長與最長的片長。

```
   min_runtime  max_runtime
0           45          238
```

In [ ]:
answer_0306 =\
"""

"""

## 0307（程式題）查詢 `imdb` 資料庫 `movies` 資料表中最短片長與最長片長的電影。

```
                title  runtime
0  Gone with the Wind      238
1         Sherlock Jr       45
```

In [ ]:
answer_0307 =\
"""

"""

## 0308（程式題）查詢 `covid19` 資料庫 `accumulative_cases` 資料表中最小的日期與最大的日期。

```
  min_max_date
0   2020-01-22
1   2023-03-09
```

In [ ]:
answer_0308 =\
"""

"""

## 0309（程式題）查詢 `covid19` 資料庫台灣的資料。

```
     country_name recorded_on  confirmed  deaths
0          Taiwan  2020-01-22          1       0
1          Taiwan  2020-01-23          1       0
2          Taiwan  2020-01-24          3       0
3          Taiwan  2020-01-25          3       0
4          Taiwan  2020-01-26          4       0
...           ...         ...        ...     ...
1138       Taiwan  2023-03-05    9970937   17672
1139       Taiwan  2023-03-06    9970937   17672
1140       Taiwan  2023-03-07    9970937   17672
1141       Taiwan  2023-03-08    9970937   17672
1142       Taiwan  2023-03-09    9970937   17672

[1143 rows x 4 columns]
```

In [ ]:
answer_0309 =\
"""

"""

## 0310（程式題）查詢 `imdb` 資料庫 Top Gun: Maverick 的演員陣容。

```
                title  release_year                name  ord
0   Top Gun: Maverick          2022          Tom Cruise    1
1   Top Gun: Maverick          2022          Val Kilmer    2
2   Top Gun: Maverick          2022        Miles Teller    3
3   Top Gun: Maverick          2022   Jennifer Connelly    4
4   Top Gun: Maverick          2022   Bashir Salahuddin    5
..                ...           ...                 ...  ...
92  Top Gun: Maverick          2022         John Wilcox   93
93  Top Gun: Maverick          2022  Alexandra Williams   94
94  Top Gun: Maverick          2022        Skylar Witte   95
95  Top Gun: Maverick          2022         Jason Woods   96
96  Top Gun: Maverick          2022       Charlotte Xia   97

[97 rows x 4 columns]
```

In [ ]:
answer_0310 =\
"""

"""