# 進階的 SQL 五十道練習

> LeetCode Curated SQL 70: Easy

[數聚點](https://www.datainpoint.com) | 郭耀仁 <yaojenkuo@datainpoint.com>

## 如何寫作 LeetCode 練習題

## 關於 [LeetCode](https://leetcode.com)

- [LeetCode](https://leetcode.com) 是知名的線上刷題網站，欲求職的軟體工程師會透過完成網站上大量的練習題來準備面試。
- 除了最知名的演算法題庫（LeetCode Curated Algo 170），亦有其他主題（例如資料庫、pandas 等）與科技公司考古題（例如 Google、Amazon 等）。

## 開始寫作 [LeetCode](https://leetcode.com) 練習題

- 前往網站註冊：<https://leetcode.com>
- 前往 LeetCode Curated SQL 70 題庫：<https://leetcode.com/problem-list/leetcode-curated-sql-70>

## 寫作 LeetCode Curated SQL 70 題庫的步驟

1. 在本機 MySQL Server 建立 `leetcode` 資料庫：`CREATE DATABASE IF NOT EXISTS leetcode CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;`
2. 進入題目頁面，複製 SQL Schema，在本機 MySQL Server 建立資料表並且插入觀測值。
3. 每個題目都有其專屬的資料表，可能會有同樣名稱但是欄位不同或觀測值不同，因此會先刪除資料表後再建立。
4. 寫出和預期輸出相符的 SQL 敘述後，複製貼上至編輯區，點選 Run 先確認「顯示測資」通過，再點選 Submit 確認是否也能通過「隱藏測資」。