# 進階的 SQL 五十道練習

> 資料操作語言

[數聚點](https://www.datainpoint.com) | 郭耀仁 <yaojenkuo@datainpoint.com>

## 練習題指引

- 仔細閱讀題目敘述並且在自己的電腦透過 DBeaver 完成。
- 下載批改測試檔案並放置在自己熟悉的目錄（資料夾）之中。
    - 批改測試檔案：[ch05-test-dml.py](https://classroom-hahow-sqlfiftyplus.s3.ap-northeast-1.amazonaws.com/test_scripts/ch05-test-dml.py)
- 執行測試：
    - 開啟 Anaconda Prompt（Windows 作業系統）或 Terminal（macOS）
    - 啟動專案環境 `conda activate pythonmysql`
    - 透過 `cd` 指令移動到放置批改測試檔案的目錄（資料夾）。
    - 執行 `python ch05-test-dml.py root {roots_password}`
- 終端機操作的技巧：
    - 在終端機畫面中按「向上箭頭」可以叫出先前執行過的指令。
    - Windows 作業系統可以使用 `cls` 指令清空 Anaconda Prompt 畫面；macOS 可以使用 `clear` 指令或 `Ctrl - L` 清空 Terminal 畫面。

## 0501 在本機的 MySQL Server 建立 `cloned_covid19` 資料庫，charset 指定 utf8mb4，collation 指定 utf8mb4_unicode_ci

|Database|
|--------|
|cloned_covid19|
|cloned_imdb|
|covid19|
|imdb|
|information_schema|
|mysql|
|performance_schema|
|sys|

## 0502 承接 0501，在 `cloned_covid19` 資料庫中，建立 `locations` 資料表，下載 [locations.csv](https://classroom-hahow-sqlfiftyplus.s3.ap-northeast-1.amazonaws.com/csv/locations.csv) 匯入外部資料，欄位名稱與資料類型如下所示。

```
id int unsigned,
country_name varchar(200),
province_name varchar(200),
iso2 char(2),
iso3 char(3),
latitude float,
longitude float,
population bigint
```

## 0503 承接 0502，在 `cloned_covid19` 資料庫中，將 `locations` 資料表第 496 筆觀測值，將它的 `iso2` 欄位由原本的空字元 `''` 更新為 `'NA'。

|id|country_name|province_name|iso2|iso3|latitude|longitude|population|
|--|------------|-------------|----|----|--------|---------|----------|
|496|Namibia|||NAM|-22.9576|18.4904|2540916|

## 0504 承接 0503，在 `cloned_covid19` 資料庫中，將 `locations` 資料表中 `province_name` 欄位原為空字元 `''` 的觀測值更新為 `NULL`

## 0505 承接 0504，在 `cloned_covid19` 資料庫中，將 `locations` 資料表中 `iso2` 欄位原為空字元 `''` 的觀測值更新為 `NULL`

## 0506 承接 0505，在 `cloned_covid19` 資料庫中，將 `locations` 資料表中 `iso3` 欄位原為空字元 `''` 的觀測值更新為 `NULL`

## 0507 承接 0506，在 `cloned_covid19` 資料庫中，將 `locations` 資料表中的 `id` 欄位增添約束條件 `PRIMARY KEY`

## 0508 承接 0501，在 `cloned_covid19` 資料庫中，建立 `accumulative_cases` 資料表，下載 [accumulative_cases.csv](https://classroom-hahow-sqlfiftyplus.s3.ap-northeast-1.amazonaws.com/csv/accumulative_cases.csv) 匯入外部資料，欄位名稱與資料類型如下所示。

```
id int unsigned,
calendar_id int unsigned,
location_id int unsigned,
confirmed bigint,
deaths bigint
```

## 0509 承接 0508，在 `cloned_covid19` 資料庫中，將 `accumulative_cases` 資料表中的 id 欄位增添約束條件 `PRIMARY KEY`

## 0510 承接 0508，在 `cloned_covid19` 資料庫中，將 `accumulative_cases` 資料表中的 `location_id` 欄位增添 `fk_accumulative_cases_locations` 約束條件 `FOREIGN KEY` 參照 `locations` 資料表的 `id`