# 進階的 SQL 五十道練習

> 資料操作語言

[數聚點](https://www.datainpoint.com) | 郭耀仁 <yaojenkuo@datainpoint.com>

In [1]:
%LOAD mysql user=root password=hahowsql

## （複習）SQL 的分類

- 在初階課程「SQL 的五十道練習」中我們專注在資料查詢語言的部分；這堂進階課程會完整帶學員們認識其他的 SQL 語言。
- 實務上，資料查詢語言是被分類在資料操作語言之下的一個分支。
    - 資料定義語言（Data Definition Language, DDL）
    - **資料操作語言（Data Manipulation Language, DML）**
        - 資料查詢語言（Data Query Language, DQL）
    - 資料控制語言（Data Control Language, DCL）
    - 交易控制語言（Transaction Control Language, TCL）

## 資料操作語言（Data Manipulation Language, DML）主要的保留字

- `INSERT`
- `UPDATE`
- `DELETE`

這意味著我們可以在資料表中新增、更新與刪除資料。

## 有哪些資料表中的資料可以新增、更新與刪除

- 資料操作語言的新增、更新與刪除是針對觀測值（Observations）。
- 觀測值又常被稱為列（Rows）或元組（Tuple）。

## 新增資料

## 以 `INSERT` 新增資料

一組小括號、使用逗號將資料值（Values）區隔開來，這樣的資料結構 `(values, ...)` 就被稱作元組（Tuple）。

```sql
INSERT INTO database_name.table_name (column1, column2, ...) VALUES
    (value_of_column1, value_of_column2, ...);
```

In [2]:
DROP DATABASE IF EXISTS cloned_imdb;

In [3]:
CREATE DATABASE cloned_imdb CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

In [4]:
CREATE TABLE cloned_imdb.movies (
    id int unsigned,
    title varchar(200),
    release_year year,
    rating float
);

In [5]:
INSERT INTO cloned_imdb.movies (id, title, release_year, rating) VALUES
    (1, 'The Shawshank Redemption', 1994, 9.3);

## 以 `INSERT` 新增多筆資料

用逗號將元組（Tuple）區隔開來。

```sql
INSERT INTO database_name.table_name (column1, column2, ...) VALUES
    (value_of_column1, value_of_column2, ...),
    (value_of_column1, value_of_column2, ...),
    (value_of_column1, value_of_column2, ...);
```

In [6]:
INSERT INTO cloned_imdb.movies (id, title, release_year, rating) VALUES 
    (2, 'The Godfather', 1972, 9.2),
    (3, 'The Dark Knight', 2008, 9.0);

## 創造資料表時指定的資料類型會影響新增資料是否能成功執行

```sql
INSERT INTO cloned_imdb.movies (id, title, release_year, rating) VALUES
    (4, 1974, 'The Godfather Part II', 9.0);
```

```
Incorrect integer value: 'The Godfather Part II' for column 'release_year' at row 1
```

## 匯入外部資料

- 除了手動將資料以元組的外型輸入以外，我們更常匯入外部資料。
- 關聯式資料庫最常見的外部資料格式為 CSV 檔案。
- 逗號分隔值（Comma-Separated Values，CSV，有時也稱為字元分隔值），其檔案以純文字形式儲存表格資料。

## 透過 `DBeaver` 的使用者介面匯入外部資料

- 下載 [movies.csv](https://classroom-hahow-sqlfiftyplus.s3.ap-northeast-1.amazonaws.com/csv/movies.csv)
- 透過純文字編輯器（推薦使用 [Visual Studio Code](https://code.visualstudio.com/download)）開啟預覽。
- 在資料庫清單按右鍵，點擊 Import Data
- 匯入外部資料時，資料表的建立與觀測值的輸入可以一起完成。

## 欄位的約束條件與資料表索引

## 欄位的約束條件（Constraints）

- 除了資料類型會影響新增資料是否能成功執行，欄位的約束條件（Constraints）也會影響新增資料是否能成功執行。
- 約束條件指的是針對資料表欄位所施加的限制。

## MySQL 的欄位約束條件

- `DEFAULT`
- `UNIQUE`
- `NOT NULL`
- `PRIMARY KEY`
- `AUTO_INCREMENT`
- `FOREIGN KEY`

## 創造資料表時除了資料類型，亦可以指定約束條件

```sql
CREATE TABLE database_name.table_name (
    column_name_1 datatype constraints,
    column_name_2 datatype constraints,
    column_name_3 datatype constraints,
    ....
);
```

## 或者使用 `ALTER` 對欄位增添約束條件

視約束條件的異同使用 `ADD` 或 `MODIFY`

```sql
ALTER TABLE database_name.table_name
  ADD CONSTRAINT constraints (column_name);
```

```sql
ALTER TABLE database_name.table_name
MODIFY column_name datatype constraints;
```

## `rating` 欄位沒有 `DEFAULT` 約束條件時

未輸入資料以 `NULL` 儲存。

In [7]:
DROP TABLE IF EXISTS cloned_imdb.movies;

In [8]:
CREATE TABLE cloned_imdb.movies (
    id int unsigned,
    title varchar(200),
    release_year year,
    rating float
);

In [9]:
INSERT INTO cloned_imdb.movies (id, title, release_year) VALUES 
    (1, 'The Shawshank Redemption', 1994);

## `rating` 欄位有 `DEFAULT 0` 約束條件時

未輸入資料改以 `0` 儲存。

In [10]:
DROP TABLE IF EXISTS cloned_imdb.movies;

In [11]:
CREATE TABLE cloned_imdb.movies (
    id int unsigned,
    title varchar(200),
    release_year year,
    rating float DEFAULT 0
);

In [12]:
INSERT INTO cloned_imdb.movies (id, title, release_year) VALUES 
    (1, 'The Shawshank Redemption', 1994);

## `id` 欄位沒有 `UNIQUE` 約束條件時

可以允許輸入資料的 `id` 重複。

In [13]:
DROP TABLE IF EXISTS cloned_imdb.movies;

In [14]:
CREATE TABLE cloned_imdb.movies (
    id int unsigned,
    title varchar(200),
    release_year year,
    rating float
);

In [15]:
INSERT INTO cloned_imdb.movies (id, title, release_year, rating) VALUES 
    (1, 'The Shawshank Redemption', 1994, 9.3),
    (1, 'The Godfather', 1972, 9.2),
    (1, 'The Dark Knight', 2008, 9.0);

## `id` 欄位有 `UNIQUE` 約束條件時

不允許輸入資料的 `id` 重複。

```sql
DROP TABLE IF EXISTS cloned_imdb.movies;
CREATE TABLE cloned_imdb.movies (
    id int unsigned,
    title varchar(200),
    release_year year,
    rating float
);
ALTER TABLE cloned_imdb.movies
  ADD CONSTRAINT UNIQUE (id);
```

## `id` 欄位沒有 `NOT NULL` 約束條件時

允許輸入資料的 `id` 遺漏。

In [16]:
DROP TABLE IF EXISTS cloned_imdb.movies;

In [17]:
CREATE TABLE cloned_imdb.movies (
    id int unsigned,
    title varchar(200),
    release_year year,
    rating float
);

In [18]:
INSERT INTO cloned_imdb.movies (title, release_year, rating) VALUES 
    ('The Shawshank Redemption', 1994, 9.3);

## `id` 欄位有 `NOT NULL` 約束條件時

不允許輸入資料的 `id` 遺漏。

```sql
DROP TABLE IF EXISTS cloned_imdb.movies;
CREATE TABLE cloned_imdb.movies (
    id int unsigned,
    title varchar(200),
    release_year year,
    rating float
);
ALTER TABLE cloned_imdb.movies
MODIFY id int unsigned NOT NULL;
```

## 主鍵 `PRIMARY KEY`

- 無法儲存和其他紀錄重複的值、也無法儲存 `NULL` 的約束條件。
- 電影可能同名；導演、編劇與演員可能同名同姓，主鍵能夠辨識觀測值的獨一性。
- 如同兩個約束條件的交集 `UNIQUE` 加上 `NOT NULL`

```sql
ALTER TABLE database_name.table_name
  ADD CONSTRAINT PRIMARY KEY (id);
```

In [27]:
DROP TABLE IF EXISTS cloned_imdb.movies;

In [28]:
CREATE TABLE cloned_imdb.movies (
    id int unsigned,
    title varchar(200),
    release_year year,
    rating float
);

In [29]:
ALTER TABLE cloned_imdb.movies
  ADD CONSTRAINT PRIMARY KEY (id);

## 顯示資料表的主鍵

```sql
SHOW KEYS FROM database_name.table_name;
```

```sql
SHOW KEYS FROM cloned_imdb.movies;
```

## 主鍵約束條件不允許輸入重複的值

```
Duplicate entry '3' for key 'movies.PRIMARY'
```

```sql
INSERT INTO cloned_imdb.movies (id, title, release_year, rating) VALUES
    (1, 'The Shawshank Redemption', 1994, 9.3),
    (2, 'The Godfather', 1972, 9.2),
    (3, 'The Dark Knight', 2008, 9.0),
    (3, 'The Godfather Part II', 1974, 9.0);
```

## `id` 欄位沒有 `AUTO_INCREMENT` 約束條件時

未輸入資料的 `id` 以 `NULL` 儲存。

In [19]:
DROP TABLE IF EXISTS cloned_imdb.movies;

In [20]:
CREATE TABLE cloned_imdb.movies (
    id int unsigned,
    title varchar(200),
    release_year year,
    rating float
);

In [21]:
INSERT INTO cloned_imdb.movies (title, release_year, rating) VALUES 
    ('The Shawshank Redemption', 1994, 9.3),
    ('The Godfather', 1972, 9.2),
    ('The Dark Knight', 2008, 9.0);

## `id` 欄位有 `AUTO_INCREMENT` 約束條件時

- 只能添加在有 `PRIMARY KEY` 約束條件的欄位上。
- 未輸入資料的 `id` 以自動增加的流水編號儲存。

In [22]:
DROP TABLE IF EXISTS cloned_imdb.movies;

In [23]:
CREATE TABLE cloned_imdb.movies (
    id int unsigned,
    title varchar(200),
    release_year year,
    rating float
);

In [24]:
ALTER TABLE cloned_imdb.movies
  ADD CONSTRAINT PRIMARY KEY (id);

In [25]:
ALTER TABLE cloned_imdb.movies
MODIFY id int unsigned AUTO_INCREMENT;

In [26]:
INSERT INTO cloned_imdb.movies (title, release_year, rating) VALUES 
    ('The Shawshank Redemption', 1994, 9.3),
    ('The Godfather', 1972, 9.2),
    ('The Dark Knight', 2008, 9.0);

## 外鍵 `FOREIGN KEY`

- 用來描述子女資料表（Child table）與父母資料表（Parent table）的參照關係，確保所有輸入子女資料表的資料都能夠在父母資料表中找到已經存在的值。
- 子女資料表有時亦稱為下游資料表、父母資料表有時亦稱為上游資料表。
- 外鍵的存在與否，不會影響是否可以使用 `JOIN` 連接資料表。
- 通常子女資料表的連接鍵會以父母資料表的單數格式加上 `_id` 命名，例如父母資料表為 `directors`，子女資料表的連接鍵就命名為 `director_id`

```sql
ALTER TABLE database_name.table_name
  ADD CONSTRAINT fk_child_parent FOREIGN KEY (foreign_key) REFERENCES parent_table (primary_key);
```

## 建立 `directors` 資料表作為父母資料表

In [30]:
DROP TABLE IF EXISTS cloned_imdb.directors;

In [31]:
CREATE TABLE cloned_imdb.directors (
    id int unsigned,
    name varchar(200)
);

In [32]:
ALTER TABLE cloned_imdb.directors
  ADD CONSTRAINT PRIMARY KEY (id);

In [33]:
INSERT INTO cloned_imdb.directors (id, name) VALUES
    (1, 'Frank Darabont'),
    (2, 'Francis Ford Coppola'),
    (3, 'Christopher Nolan');

## 建立 `movies` 資料表作為子女資料表

In [34]:
DROP TABLE IF EXISTS cloned_imdb.movies;

In [35]:
CREATE TABLE cloned_imdb.movies (
    id int unsigned,
    title varchar(200),
    release_year year,
    rating float,
    director_id int unsigned
);

In [36]:
ALTER TABLE cloned_imdb.movies
  ADD CONSTRAINT fk_movies_directors FOREIGN KEY (director_id) REFERENCES directors (id);

In [37]:
INSERT INTO cloned_imdb.movies (id, title, release_year, rating, director_id) VALUES
    (1, 'The Shawshank Redemption', 1994, 9.3, 1),
    (2, 'The Godfather', 1972, 9.2, 2),
    (3, 'The Dark Knight', 2008, 9.0, 3),
    (4, 'The Godfather Part II', 1974, 9.0, 2);

## 有外鍵約束條件時，子女資料表僅能儲存父母資料表已經存在的值

In [38]:
INSERT INTO cloned_imdb.movies (id, title, release_year, rating, director_id) VALUES
    (5, 'Inception', 2010, 8.7, 3);

## 有外鍵約束條件時，不允許於子女資料表儲存父母資料表沒有的值

```
Cannot add or update a child row: a foreign key constraint fails
```

```sql
INSERT INTO cloned_imdb.movies (id, title, release_year, rating, director_id) VALUES
    (6, 'Schindler\'s List', 1993, 8.9, 4);
```

## 有外鍵約束條件時資料表的刪除要注意順序

```
Cannot drop table 'directors' referenced by a foreign key constraint 'fk_movies_directors' on table 'movies'.
```

```sql
DROP TABLE IF EXISTS cloned_imdb.directors;
```

## 有外鍵約束條件時要先刪除子女資料表、再刪除父母資料表

```sql
DROP TABLE IF EXISTS cloned_imdb.movies;
DROP TABLE IF EXISTS cloned_imdb.directors;
```

## 進行資料操作時會先移除外鍵約束條件

資料表的刪除就不需注意順序。

```sql
ALTER TABLE database_name.table_name
 DROP CONSTRAINT fk_child_parent;
```

In [39]:
ALTER TABLE cloned_imdb.movies
 DROP CONSTRAINT fk_movies_directors;

In [40]:
DROP TABLE IF EXISTS cloned_imdb.directors;

In [41]:
DROP TABLE IF EXISTS cloned_imdb.movies;

## 什麼是資料表索引（Index）

- 索引（Index）能夠提高資料表掃描的效率，藉此提升「篩選」或者「排序」的效率。
- 因此針對常被使用者拿來「篩選」或者「排序」的欄位建立索引可以提升查詢效率。
- 建立主鍵的同時 MySQL 也會自動對其產生索引。

## 如何建立資料表索引

```sql
ALTER TABLE database_name.table_name
  ADD INDEX index_name (column_name);

CREATE INDEX index_name
    ON database_name.table_name (column_name);
```

In [42]:
DROP TABLE IF EXISTS cloned_imdb.movies;

In [43]:
CREATE TABLE cloned_imdb.movies (
    id int unsigned,
    title varchar(200),
    release_year year,
    rating float
);

In [44]:
ALTER TABLE cloned_imdb.movies
  ADD CONSTRAINT PRIMARY KEY (id);

In [45]:
ALTER TABLE cloned_imdb.movies
  ADD INDEX idx_title (title);

In [46]:
CREATE INDEX idx_release_year
    ON cloned_imdb.movies (release_year);

## 顯示索引

```sql
SHOW INDEX FROM database_name.table_name;

SHOW INDEX FROM cloned_imdb.movies;
```

## 如何刪除索引

```sql
ALTER TABLE database_name.table_name
 DROP INDEX index_name;

DROP INDEX index_name
  ON database_name.table_name;
```

In [47]:
ALTER TABLE cloned_imdb.movies
 DROP INDEX idx_title;

In [48]:
DROP INDEX idx_release_year
  ON cloned_imdb.movies;

## 更新資料

## 以 `UPDATE` 更新資料

```sql
UPDATE database_name.table_name
   SET column_name_1 = value1,
       column_name_2 = value2,
       ...
 WHERE conditions;
```

In [49]:
DROP TABLE IF EXISTS cloned_imdb.movies;

In [50]:
CREATE TABLE cloned_imdb.movies (
    id int unsigned,
    title varchar(200),
    release_year year,
    rating float
);

## 新增資料時輸入錯誤

In [51]:
INSERT INTO cloned_imdb.movies (id, title, release_year, rating) VALUES
    (1, 'The Shawshank Redemption', 1995, 9.3), -- wrong input of release_year
    (2, 'The Godfather', 1972, 9.2),
    (3, 'The Dark Knight', 2008, 9.0),
    (4, 'The Godfather Part II', 1974, 9.0);

## 以 `UPDATE` 更新 `release_year` 的資料

In [52]:
UPDATE cloned_imdb.movies
   SET release_year = 1994
 WHERE id = 1; -- flexible conditions: title = 'The Shawshank Redemption' / release_year = 1995 / rating = 9.3

## 刪除資料

## 以 `DELETE` 刪除資料表中特定的資料

```sql
DELETE FROM database_name.table_name
 WHERE conditions;
```

In [53]:
DELETE FROM cloned_imdb.movies
 WHERE id = 4;

## 如果沒有指定 `conditions` 會刪除資料表中的所有資料

與資料定義語言（Data Definition Language, DDL）的 `TRUNCATE` 效果相同。

```sql
DELETE FROM database_name.table_name;
```

In [54]:
DELETE FROM cloned_imdb.movies;

## 沒有指定 `conditions` 的 `DELETE` 與 `TRUNCATE` 之差異

- `DELETE` 屬於資料操作語言範疇；`TRUNCATE` 屬於資料定義語言範疇。
- `TRUNCATE` 結合了 `DROP` 與 `CREATE` 兩個資料定義語言敘述，通常會要求使用者具有較高的權限等級。
- `DELETE` 是一列一列刪除資料，效率上慢於 `TRUNCATE`

## 重點統整

- 資料操作語言的保留字：
    - 以 `INSERT` 新增資料。
    - 以 `UPDATE` 更新資料。
    - 以 `DELETE` 刪除資料。

## 重點統整（續）

- MySQL 的欄位約束條件
    - `DEFAULT` 未輸入資料以預設值儲存。
    - `UNIQUE` 不允許輸入重複資料。
    - `NOT NULL` 不允許未輸入資料。
    - `PRIMARY KEY` 辨識資料表的獨一值。
    - `AUTO_INCREMENT` 自動增加主鍵的流水編號。
    - `FOREIGN KEY` 確保資料的參照完整性。