# 進階的 SQL 五十道練習

> 交易控制語言

[數聚點](https://www.datainpoint.com) | 郭耀仁 <yaojenkuo@datainpoint.com>

## 練習題指引

- 仔細閱讀題目敘述並且在自己的電腦透過 DBeaver 完成。
- 下載批改測試檔案並放置在自己熟悉的目錄（資料夾）之中。
    - 批改測試檔案：[ch07-test-tcl.py](https://classroom-hahow-sqlfiftyplus.s3.ap-northeast-1.amazonaws.com/test_scripts/ch07-test-tcl.py)
- 執行測試：
    - 開啟 Anaconda Prompt（Windows 作業系統）或 Terminal（macOS）
    - 啟動專案環境 `conda activate pythonmysql`
    - 透過 `cd` 指令移動到放置批改測試檔案的目錄（資料夾）。
    - 執行 `python h07-test-tcl.py root {roots_password}`
- 終端機操作的技巧：
    - 在終端機畫面中按「向上箭頭」可以叫出先前執行過的指令。
    - Windows 作業系統可以使用 `cls` 指令清空 Anaconda Prompt 畫面；macOS 可以使用 `clear` 指令或 `Ctrl - L` 清空 Terminal 畫面。

## 0701 在本機的 MySQL Server 建立 `transaction_control` 資料庫，charset 指定 utf8mb4，collation 指定 utf8mb4_unicode_ci

In [ ]:
CREATE DATABASE transaction_control CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

## 0702 承接 0701 在 `transaction_control` 資料庫，建立兩個資料表 `accounts` 與 `transfers`，資料類型如下所示。

`transaction_control.accounts`

```
id int unsigned,
balance double unsigned
```

`transaction_control.transfers`

```
id int unsigned,
from_account_id int unsigned,
to_account_id int unsigned,
amount double
```

In [ ]:
CREATE TABLE transaction_control.accounts (
    id int unsigned,
    balance double unsigned
);
CREATE TABLE transaction_control.transfers (
    id int unsigned,
    from_account_id int unsigned,
    to_account_id int unsigned,
    amount double
);

## 0703 承接 0702 在 `transaction_control` 資料庫的 `accounts` 資料表新增兩筆觀測值。

|id|balance|
|:-|:------|
|1|1000|
|2|1000|

In [ ]:
INSERT INTO transaction.accounts (id, balance) VALUES
    (1, 1000),
    (2, 1000);

## 0704 承接 0703 在 `transaction_control` 資料庫透過保留字 `START TRANSACTION` 與 `COMMIT` 完成由帳戶流水編號 1 轉 450 元至帳戶流水編號 2 的交易，完成交易後，資料表內容如下所示。

`transaction_control.accounts`

|id|balance|
|--|-------|
|1|550|
|2|1450|

`transaction_control.transfers`

|id|from_account_id|to_account_id|amount|
|--|---------------|-------------|------|
|1|1|2|450|

In [ ]:
START TRANSACTION;

INSERT INTO transaction_control.transfers (id, from_account_id, to_account_id, amount) VALUES
    (1, 1, 2, 450);
UPDATE transaction_control.accounts
   SET balance = balance - 450
 WHERE id = 1;
UPDATE transaction_control.accounts
   SET balance = balance + 450
 WHERE id = 2;
 
COMMIT;